@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-4 p-5 bg-primary text-white rounded">
    
    <h1 class="display-4">Welkom bij CarVendor</h1>
    <img src="~/images/image_homepage.jpg" alt="CarVendor" />

</div>
